.body {
  background-color: #009bcd;
}

.body h1 {
  font: 150% "Hind", sans-serif;
}

/*header */
header .main-nav {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

header .main-nav .logo-frame h1 {
  font-size: 0;
  margin: 0;
}

header .main-nav .logo-frame h1 .topper {
  max-width: 100%;
}

header .main-nav .logo-frame #navOpener {
  display: block;
  float: right;
  margin: .4rem 0.6rem 0 0;
  font-size: 1.4rem;
  color: #ea4e41;
}

header .main-nav .logo-frame #navOpener span {
  font-size: 1rem;
}

@media screen and (min-width: 480px) {
  header .main-nav .logo-frame #navOpener {
    display: none;
  }
}

header .main-nav .navigation {
  display: none;
  width: 100%;
  background-color: #555;
  padding: 0rem;
  margin: 0;
}

header .main-nav .navigation li {
  padding: .4rem 0;
  list-style: none;
  text-align: center;
}

header .main-nav .navigation li a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  header .main-nav .navigation {
    display: block;
    background: transparent;
    padding: .5rem 0 .5rem 2.5rem;
  }
  header .main-nav .navigation li {
    display: inline-block;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0 .5rem;
  }
  header .main-nav .navigation li a {
    color: #ffffff;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  header .main-nav .navigation {
    padding: .1rem 0 .1rem 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  header .main-nav .navigation {
    padding: .5rem 0 .8rem 3.5rem;
  }
  header .main-nav .navigation li {
    font-size: 1rem;
    margin-right: 90px;
  }
}

header .services-nav {
  background-color: #ea4e41;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header .services-nav .icon {
  width: 33px;
  height: 33px;
  margin: 5px;
}

header .services-nav a {
  text-align: center !important;
  color: #FFFFFF !important;
  display: block;
  padding: 1rem 0;
  font-weight: 400;
  text-decoration: none;
}

header .services-nav a:hover, header .services-nav a.active {
  text-decoration: none;
  box-shadow: inset 0 0px 0, inset 0 -1.5px 0;
}

@media screen and (max-width: 1023px) {
  header .services-nav {
    display: none;
  }
}

header .services-nav.scroll-fixed {
  position: absolute;
  z-index: 100;
  top: 0;
}

/*SLIDER */
.slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
  background: #eb4332;
  position: relative;
}

.slider .frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider .frame img {
  position: absolute;
  width: 100%;
  height: auto;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider .text-frame {
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.slider .text-frame .text-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFFFFF;
  top: 0;
  background-color: rgba(229, 55, 38, 0.5);
  height: 100%;
  width: 40%;
}

.slider .text-frame .text-box .text-item {
  margin: 0 auto;
  text-align: center;
  padding: 1rem 2rem;
  width: 100%;
  display: none;
}

.slider .text-frame .text-box .text-item .icon {
  width: 33px;
  height: 33px;
  margin: -4px 7px 0 0;
}

.slider .text-frame .text-box .text-item .fa-angle-down {
  display: none;
}

.slider .text-frame .text-box .text-item button {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #009bcd;
  padding: .5rem 2rem;
}

.slider .text-frame .text-box .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slider .text-frame .text-box .dot.active, .slider .text-frame .text-box .dot:hover {
  background-color: #717171;
}

@media screen and (max-width: 480px) {
  .slider {
    height: auto;
  }
  .slider .frame {
    display: none;
  }
  .slider .text-frame {
    position: static;
    width: 100%;
  }
  .slider .text-frame .text-box {
    width: 100%;
    background: transparent;
    position: static;
  }
  .slider .text-frame .text-box .info {
    display: none;
  }
  .slider .text-frame .text-box .text-item {
    text-align: left;
    display: block;
    border-bottom: solid 1px #ce2621;
  }
  .slider .text-frame .text-box .text-item h3 {
    display: inline-block;
    width: 90%;
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 0;
  }
  .slider .text-frame .text-box .text-item .fa-angle-down {
    display: inline-block;
    font-size: 1.3rem;
  }
  .slider .text-frame .text-box .text-item p {
    margin: 1rem 0;
    font-weight: 100;
    display: block;
  }
  .slider .text-frame .text-box .text-item button {
    cursor: pointer;
    padding: .3rem 1.3rem;
  }
  .slider .text-frame .text-box .dots {
    display: none;
  }
}

/*FIRST PAGE TEXT */
section.first-page-text {
  width: 100%;
  padding: 2.5rem 1rem;
  text-align: left;
}

section.first-page-text p {
  margin: 0 auto 1.5rem auto;
  text-align: justify;
  padding: 0 1rem 0 1rem;
}

section.first-page-text h2 {
  margin: 0 auto 1.5rem auto;
  padding-bottom: 1rem;
  font-weight: 200;
  font-size: 2.5rem;
  width: fit-content;
  box-shadow: inset 0 0px 0 white, inset 0 -1.5px 0 #ff7a76;
}

@media screen and (min-width: 480px) {
  section.first-page-text {
    padding: 4rem;
  }
}

@media screen and (min-width: 1440px) {
  section.first-page-text {
    padding: 4rem 11rem;
  }
}

section.first-page-text .progressbar-pic, section.first-page-text .progressbar-pic-mobile {
  width: 100%;
  margin: 0rem 0;
  overflow: hidden;
  text-align: center;
}

section.first-page-text .progressbar-pic img, section.first-page-text .progressbar-pic-mobile img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 480px) {
  section.first-page-text .progressbar-pic, section.first-page-text .progressbar-pic-mobile {
    display: none;
  }
}

section.first-page-text .progressbar-pic-mobile {
  display: block;
}

@media screen and (min-width: 480px) {
  section.first-page-text .progressbar-pic-mobile {
    display: none;
  }
}

/*Lines */
.lines {
  width: 100%;
  color: #FFFFFF;
  overflow: hidden;
  position: relative;
  animation-fill-mode: forwards;
}

.lines button {
  cursor: pointer;
  background: #FFFFFF;
}

.lines h3 {
  margin-bottom: 0;
}

.lines p {
  font-weight: 100;
}

.lines .image {
  position: absolute;
  bottom: -20px;
  right: -20px;
}

.lines .image.fire-image {
  left: -20px;
}

.lines .image img {
  width: 85px;
  height: auto;
}

.lines .fire {
  position: relative;
  padding: 1rem 1rem 1rem 4rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ea4e41;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .lines .fire {
    flex-direction: row;
  }
}

@-webkit-keyframes mymove {
  from {
    right: -70%;
    opacity: 0.2;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}

@keyframes mymove {
  from {
    right: -70%;
    opacity: 0.2;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}

.lines .fire.move {
  -webkit-animation: mymove 2s;
  /* Safari 4.0 - 8.0 */
  animation: mymove 2s 1;
}

.lines .snow {
  position: relative;
  flex-direction: column;
  text-align: right;
  padding: 1rem 4rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #009bcd;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .lines .snow {
    flex-direction: row-reverse;
  }
}

@-webkit-keyframes move {
  from {
    left: -70%;
    opacity: 0.2;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}

@keyframes move {
  from {
    left: -70%;
    opacity: 0.2;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}

.lines .snow.move {
  -webkit-animation: move 2s;
  /* Safari 4.0 - 8.0 */
  animation: move 2s 1;
}

/*Tiles */
.tiles {
  width: 100%;
  display: flex;
  margin: 2rem 0 4rem 0;
  flex-wrap: wrap;
  padding: 0 1.8rem;
}

.tiles .tile {
  color: #FFFFFF;
  background-color: #8c8c8c;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
}

.tiles .tile .text {
  text-align: center;
}

.tiles .tile .img-frame {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .tiles .tile {
    width: 48%;
  }
  .tiles .tile .img-frame {
    width: 115%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    margin: 1rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .tiles {
    justify-content: space-between;
  }
  .tiles .tile {
    width: 48%;
  }
}

@media screen and (min-width: 1024px) {
  .tiles {
    justify-content: space-between;
  }
  .tiles .tile {
    flex-direction: ro;
    width: 31%;
  }
}

/*Map*/
.map {
  margin: 2rem 0 0 0;
}

.map h3 {
  margin: 0 auto 3.5rem auto;
  padding-bottom: 1rem;
  font-weight: 300;
  width: fit-content;
  box-shadow: inset 0 0px 0 white, inset 0 -1.5px 0 #ff7a76;
}

.map .place {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  color: #ea4e41;
}

.map .place-info {
  width: 55%;
  text-align: right;
  padding: 5rem;
  overflow: hidden;
}

.map .place-info.left {
  text-align: left;
}

.map .place-info h4 {
  font-size: 2rem;
  margin: 0;
}

.map .place-info p {
  font-size: 1.5rem;
}

.map .place-info .navigace {
  width: 182px;
  height: 49px;
}

.map .place-info .navigace a:hover {
  -webkit-box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.33);
}

.map #map, .map #map2 {
  width: 45%;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .map .place {
    flex-flow: column;
  }
  .map .place #map, .map .place #map2, .map .place .place-info {
    width: 100%;
  }
  .map .place:nth-of-type(2) #map2 {
    order: 2;
  }
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  background-color: #585858;
  color: #FFFFFF;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}

footer .logo-footer-column {
  width: 33%;
}

footer .logo-footer-column h3 {
  text-align: center;
  overflow: hidden;
}

footer .logo-footer-column h3 img {
  width: 50%;
  height: auto;
}

@media screen and (max-width: 768px) {
  footer .logo-footer-column {
    width: 100%;
    margin: 1.5rem 0 1rem 0;
  }
}

footer .nav-footer-column {
  width: 33%;
  flex-direction: column;
}

footer .nav-footer-column h3 {
  box-shadow: inset 0 0px 0 white, inset 0 -1px 0 #FFFFFF;
  padding-bottom: .5rem;
}

@media screen and (max-width: 768px) {
  footer .nav-footer-column {
    width: 100%;
  }
}

footer .nav-footer-column section {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

footer .nav-footer-column section ul {
  list-style: none;
  padding: 0;
}

footer .nav-footer-column section.left {
  text-align: left;
  padding: 1rem 3rem 1rem 1rem;
}

footer .nav-footer-column section.left h3 {
  margin: 1rem 1rem 1rem 0;
}

footer .nav-footer-column section.right {
  text-align: right;
  padding: 1rem 1rem 1rem 3rem;
}

footer .nav-footer-column section.right h3 {
  margin: 1rem 0 1rem 1rem;
}

@media screen and (max-width: 1024px) {
  footer .nav-footer-column section.left {
    padding: 1rem 1rem 1rem 0rem;
  }
  footer .nav-footer-column section.right {
    padding: 1rem 1rem 1rem 0rem;
  }
}

@media screen and (max-width: 768px) {
  footer .nav-footer-column section {
    width: 100%;
  }
  footer .nav-footer-column section.left, footer .nav-footer-column section.right {
    text-align: center;
    padding: 0 1rem;
  }
  footer .nav-footer-column section.left h3, footer .nav-footer-column section.right h3 {
    margin: 1rem;
  }
}

footer .social-footer-column {
  width: 33%;
}

footer .social-footer-column p {
  text-align: center;
  font-size: 1rem;
}

footer .social-footer-column .fb {
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  footer .social-footer-column {
    width: 100%;
    padding: 0;
    margin: .8 0 0 0;
  }
}
/*# sourceMappingURL=main.css.map */