$black : #2f2f2f;
$grey: #585858;
$ligthgrey: #8c8c8c;
$white : #FFFFFF;
$red : #ff7a76;
$darkRed: #ff4048;
$logoRed: #eb4332;
$blue : #009bcd;
$fontNav :150% 'Hind', sans-serif;


.body {
    background-color:$blue;
}
header {
    nav.main-nav {
    
        .logo-frame{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            padding: 0rem;
            width: 100%;

            .topper{
                width: 70%;
                height: auto;
                @media screen and (min-width: 480px) {
                    width: 100%;
                }
            }

            @media screen and (min-width: 480px) {
                width: 100%;
                display: inline-block; 
            }
            @media screen and (min-width: 480px) and (max-width: 768px) {
                width: 29%;
                padding: 1rem .5rem 1rem 1rem;
                display: inline-block; 
            }
            
            button {
                padding: .1rem .7rem;
                border: none;
                font-size: 1.5rem;
                background-color: $logoRed;
                color: $white;
                border-radius: 3px;
                @media screen and (min-width: 480px) {
                  display: none;
                }
            }
        }
        .navigation{
            display: inline-block;
            @media screen and (max-width: 480px) {
                display: none;
                position: relative;
                z-index: 1000;
              }
            
        }
        ul{
            width: 100%;
            padding: 0;
            margin: 0;
            @media screen and (min-width: 480px) {
                width: 65%;
                text-align: left;
                font:$fontNav;
                padding-left: 3rem;
                padding-bottom: 1rem;
                
            }
            @media screen and (min-width: 480px) and (max-width: 768px) {
                width: 70%;
            }
            li{
                list-style: none;
                text-align: center;
                background-color: $white;
                padding-bottom: .2rem;
                width: 100%;
                a {
                    color: $white;
                    display: block;
                    padding: 1rem 0;
                    background-color: $logoRed;
                    font-weight: 500;
                    text-decoration: none;
                    &:hover, &.active {
                        text-decoration: none;
                        box-shadow: inset 0 0px 0 white, inset 0 -1.5px 0 $darkRed;
                        color: $darkRed;
                       
                    }
                    
                }
               
                @media screen and (min-width: 480px) {
                    width: auto;
                    padding: 0 1rem;
                    display: inline-block;
                    a{
                        color: $black;
                        background-color:  $white;
                        padding: .5rem 0;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 480px) {
        // padding: 1.5rem 1rem;
    }
    @media screen and (min-width: 480px) and (max-width: 768px) {
        padding: .5rem .3rem;
    }
   
}
.services-nav{
    background-color: $logoRed;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    .icon{
        width: 33px;
        height: 33px;
        margin: 5px;
        }
    a {
        text-align: center !important;
        color: $white !important;
        display: block;
        padding: 1rem 0;
        font-weight: 400;
        text-decoration: none;
            &:hover, &.active {
                text-decoration: none;
                box-shadow: inset 0 0px 0, inset 0 -1.5px 0;
            }
            
        }
    @media screen and (max-width: 768px) {
       display: none;
        
    }    
}

h1 {
    display: none;
}



/*SLIDER */
.slider {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background: $logoRed;
    position: relative;
    .frame {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            width:100%; 
            height: auto;
            margin: auto;
            top: 0;left: 0;right: 0;bottom: 0;
        }
    }
    
    .text-frame{
        position: absolute;
        width: 90%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        .text-box {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color:$white;
            top: 0;
            background-color: rgba(229, 55, 38,.5);
            height: 100%;
            width: 40%;
            .text-item {
                margin: 0 auto;
                text-align: center;
                padding: 1rem 2rem;
                width: 100%;
                display: none;
                .fa-angle-down{
                    display: none;
                }
                button {
                    color: $white;
                    background-color: $blue;
                    padding: .5rem 2rem;
                }
            }
            .dot {
                cursor:pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
                &.active, &:hover {
                    background-color: #717171;
                    
                  }  
              }

        }
    }
    @media screen and (max-width: 480px) {
        height: auto;
        .frame {
            display: none ;
        }
        .text-frame{
            position: static;
            width: 100%;
            .text-box{
                width: 100%;
                background: transparent;
                position: static;
                .info {
                    display: none;
                }
                .text-item{
                    text-align: left;
                    display: block;
                    border-bottom: solid 1px #ce2621;
                    h3{
                        display: inline-block;
                        width: 90%;
                        font-size: 1.3rem;
                        font-weight: normal;
                        margin-bottom: 0;
                    }
                    .fa-angle-down{
                        display: inline-block;
                        font-size: 1.3rem;
                    }

                    p {
                        margin: 1rem 0;
                        font-weight: 100;
                        display: block;
                    }
                    button {
                        padding: .3rem 1.3rem;
                    }
                }
                .dots {
                    display: none;
                }
            }
          
        }
    }
    
}
/*FIRST PAGE TEXT */
section.first-page-text {
    width: 100%;
    padding: 2.5rem 1rem;
    text-align: left;
    p {
        margin:  0 auto 1.5rem auto;
    }
    h2{
        margin:  0 auto 1.5rem auto;
        padding-bottom: 1rem;
        font-weight: 200;
        width: fit-content;
        box-shadow: inset 0 0px 0 white, inset 0 -1.5px 0 $red;
    }
    @media screen and (min-width: 480px) {
        padding: 4rem;
    }
    @media screen and (min-width: 1440px) {
        padding: 4rem 11rem;
    }
    .progressbar-pic {
        width: 100%;
        margin: 0rem 0;
        overflow: hidden;
        text-align: center;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

/*Lines */
.lines{
    width: 100%;
    color: $white;
    overflow: hidden;
    button {
        background: $white;
    }
    h3{
        margin-bottom: 0;
    }
    p {
        font-weight: 100;
    }
    .image {
        position: absolute;
        bottom: -20px;
        right: -20px;
        &.fire-image {
            left: -20px;
        }
        img {
            width: 85px;
            height: auto;
        }
    }
    .fire {
        position: relative;
        padding: 1rem 1rem 1rem 4rem;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: $darkRed;
        width: 100%;
        @media screen and (min-width: 480px) {
            flex-direction: row;
        }
    }
    .snow {
        position: relative;
        flex-direction: column;
        text-align: right;
        padding: 1rem 4rem 1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: $blue;
        width: 100%;
        @media screen and (min-width: 480px) {
            flex-direction: row-reverse;
        }

    }
}
/*Tiles */
.tiles {
    width: 100%;
    display: flex;
    margin: 2rem 0 4rem 0;
    flex-wrap: wrap;
    padding: 0 1.8rem;
    .tile {
        color: $white;
        background-color: $ligthgrey;
        display: flex;
        width: 100%;
        margin:  1rem 0;
        padding: 1.5rem;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: 480px) and (max-width: 768px)  {
            width: 48%;
        }
    }
    @media screen and (min-width: 480px) and (max-width: 768px)  {
        justify-content: space-between;
       .tile{
            width: 48%;
       }
    }
    @media screen  and (min-width: 768px)  {
        justify-content: space-between;
       .tile{
            width: 31%;
       }
    }
}
/*Map*/
.map{
    margin: 2rem 0 0 0;
   h3{
    margin:  0 auto 1.5rem auto;
    padding-bottom: 1rem;
    font-weight: 300;
    width: fit-content;
    box-shadow: inset 0 0px 0 white, inset 0 -1.5px 0 $red;
   }
   .place {
    display:  flex;
    flex-flow: row;
    align-items: center;
    color: $logoRed;
    
   }
   .place-info {
       width: 50%;
       text-align: right;
       padding: 2rem;
       overflow: hidden;
       &.left{
           text-align: left;
       }
       h4 {
           font-size: 2rem;
           margin: 0;
       }
       p {
           font-size: 1.5rem;
       }
       .navigace{
           width: 182px;
           height: 49px;
         
           a {
               
                &:hover{
            -webkit-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.33);
            -moz-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.33);
            box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.33);
           
                }
                
            
            }
       }
   }
   #map, #map2 {
    width: 50%;
    height: 400px;
    }
    @media screen and (max-width: 768px) {
        .place{
            flex-flow: column;
            #map, #map2, .place-info{
                width: 100%;
            }
            &:nth-of-type(2) {
                #map2 {
                   order: 2;
                }
            }
           
        }
        
    }
}



footer {
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    background-color: $grey;
    color: $white;
    flex-direction: row;
    @media screen and (max-width: 480px) { 
        flex-direction: column;
    }
    .logo-footer-column{
        width: 33%;
        h3{
            text-align: center;
            overflow: hidden;
            img {
                width: 50%;
                height: auto;
            }
            
        }
        @media screen and (max-width: 480px) { 
            width: 100%;
            margin: 1.5rem 0 1rem 0;
        }
        
    }
    .nav-footer-column{
        width: 33%;
        flex-direction: column;
        h3{
            box-shadow: inset 0 0px 0 white, inset 0 -1px 0 $white;
            padding-bottom: .5rem;
           
        }
        @media screen and (max-width: 480px) { 
            width: 100%;
            
        }
        section {
            width: 49%;
            display: inline-block;
            vertical-align: top;
            ul {
                list-style: none;
                padding: 0;
            }
            &.left{
                h3{
                    margin: 1rem 1rem 1rem 0;
                }
                text-align: left;
                padding: 1rem 3rem 1rem 1rem ;
            }
            &.right {
                h3{
                    margin: 1rem 0 1rem 1rem ;
                }
                text-align: right;
                padding: 1rem 1rem 1rem 3rem;
            }
            @media screen and (max-width: 480px) { 
                width: 100%;
                &.left , &.right {
                    text-align: center;
                    padding: 0 1rem ;
                    h3{
                        margin: 1rem
                    }
                }
                
            }
        }
    }
    .social-footer-column{
        width: 33%;
        padding-left: 3rem;
        p {
            text-align: center;
            font-size: 1rem;
        }
       .fb {
           font-size: 1.8rem
       }  
       @media screen and (max-width: 480px) { 
        width: 100%;
        padding: 0;
    }
    }
}